@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <div class="wrapper">
        <div class="welcome">
            <h1><strong>Fil</strong> Mego </h1>
            <p> Top Movies Rates  With Store Lines and  ... </p>
        </div>
        <div class="photographer"><img src="~/img/hero.png" alt="Photographer"></div>
    </div>
</div>
<img  />